@model ProductListViewModel

<div class="row">
    <div class="col-md-3">
        <vc:categories-list />
    </div>
    <div class="col-md-9">
        @if(Model.Products.Count() == 0)
        {
            <p>Ürün bulunamadı.</p>
        }

        @foreach(var p in Model.Products)
        {
            <div class="card card-outline-secondary mb-2 p-2">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4>@p.Name</h4>
                        <p>@p.Description</p>
                    </div>
                    <div>
                        <span class="badge rounded-pill text-bg-success">@p.Price TL</span>
                    </div>
                </div>
                <form asp-page="/Cart" method="post">
                    <input type="hidden" asp-for="@p.Id" />
                    <button type="submit" class="btn btn-outline-success btn-sm pull-right" style="float: right;">Sepete Ekle</button>
                </form>
            </div>
        }

        @if(Model.PagingInfo.TotalPages > 1)
        {
             <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mt-4">

                @for (var i = 1; i <= Model.PagingInfo.TotalPages; i++)
                {
                    <li class="page-item">
                        <a class="page-link" href="/?page=@i">@i</a>
                    </li>
                }

            </ul>
        </nav>
        }

    </div>
</div>


